%h1 Editing CPU

-  form_for [:admin, @cpu] do |f|
  = f.error_messages
  %table.record
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Update'

%p= link_to 'Back', admin_cpus_path