- @title = @cpu.name(:long)

= title_for(@cpu)
%p= @cpu.description
-if @cpu.hardware.empty?
  %p
    The CPU
    %strong= @cpu.name(:clock)
    currently is not used by any computer or peripheral in the database.
- else
  %table.list
    = render :partial => 'computers/hardware', :collection => @cpu.hardware.ordered