= title_for(@cpu)
-if @cpu.hardware.empty?
  %p
    The CPU
    %strong= @cpu.name
    currently is not used by any computer or peripheral in the database.
- else
  %table.list
    = render :partial => 'computers/hardware', :collection => @cpu.hardware.ordered