%h1 New Manufacturer

- form_for @manufacturer, :url => admin_manufacturers_path, :html => {:multipart => true} do |f|
  = f.error_messages
  %table.record
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'
    
%p= link_to 'Back', admin_manufacturers_path