%h1 New Manufacturer

- form_for @manufacturer do |f|
  = f.error_messages
  %table
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'
    
%p= link_to 'Back', manufacturers_path