%h2= @operative_system.name
- if @operative_system.hardware.empty?
  %p
    The operative system
    %strong= @operative_system.name
    is not used by any computer in the database.
- else
  %table.list
    = render :partial => 'computers/hardware', :collection => @operative_system.hardware