.DS_Store
log/*.log
tmp/**/*
tmp/*.txt
config/database.yml
config/amazon_s3.yml
public/images/**/*
!public/images/**/.gitignore
!public/images/flags/*.png
spec/fixtures/images/**/*
!spec/fixtures/images/**/.gitignore
coverage/*