%h1 Listing Storage Sizes
%table
  %tr
    %th Name
    %th Actions
  - @storage_sizes.each do |s_size|
    %tr
      %td= h s_size.name
      -# TODO sistemare sta schifezza, se possibile
      %td
        -form_tag delete_admin_storage_sizes_path, :method => :delete do
          = hidden_field_tag 'id', s_size.name
          = submit_tag 'destroy'
  
%p= link_to 'New storage size', new_admin_storage_size_path