- @meta_keywords = 'co-cpu, old computers, retrocomputing'
- @meta_description = 'List of co-CPUs available in our database.'
- @title = 'co-CPUs'

%p.breadcrumbs
  =link_to 'home', root_path
  » co-cpus

%h2 Co CPUs
%table.list
  = render @co_cpus