%tr
  %td.center
    - unless hardware.images.empty?
      = image_tag(hardware.images.first.picture(:thumb))
    - else
      = image_tag('/images/blank_image.jpg')
  %td= link_to hardware.name, computer_path(hardware)