- @title = "listing computers"
%h2 Computers
- if params[:letter]
  - if @computers.empty?
    %p
      No computer was found starting with the
      %strong= params[:letter].upcase
      letter.
  - else
    %p
      Computers starting with 
      %strong= params[:letter].upcase
      letter:
    %table.list
      = render :partial => 'hardware', :collection => @computers
      
