body {
	font-family: Tahoma,'lucida grande', sans-serif;
	font-size: 12px;
	margin:10px;
	width:1100px;
}

table.list {
	background: silver;
}

th, td {
	padding:10px 15px;
}

table.list th {
	background: #ddd;
	text-transform:uppercase;
	font-weight:normal;
}

table.list td {
	background:white;
}

.list ul {
	padding:0px;
}

.list li {
	list-style-type:none;
}

h1, h2, h3 {
	font-weight:normal;
}

a {
	color: blue;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.center {
	text-align:center;
}

.right {
	text-align:right;
}

.notice {
	color:green;
}

.error {
	color:red;
}
table.record {
	background:#ddd;
	border:2px solid gray;
	width:500px;
	padding:15px;
}

table.record th {
	font-weight:normal;
	text-transform:uppercase;
	text-align:right;
}

table.record th, table.record td {
	padding:10px 5px;
}

#navigation {
	overflow:auto;
	background: #ccc;
}

#navigation>ul>li {
	display:block;
	float:left;
	width:7em;
	padding:10px 5px;
}

#navigation ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

#navigation>ul ul {
	display:none;
	position:absolute;
	background:white;
	border:1px solid gray;
	border-bottom:none;
}

#navigation>ul ul>li {
	border-bottom:1px solid gray;
}

#navigation>ul ul>li a{
	display:block;
	width:7em;
	padding:7px;
}

#navigation>ul ul a:hover {
	background:#ddd;
}

#navigation li:hover ul {
	display:block;
}

.errorExplanation h2 {
	font-weight:normal;
	color:red;
}

.errorExplanation ul {
	list-style: none;
	padding:0px;
}

#associations, #original_prices, #ebay_prices {
	padding:15px;
	border:2px solid gray;
	background:#ddd;
}

#associations th, #associations td, #original_prices th, #original_prices td {
	padding:5px;
}

#associations {
	width:600px;
}

#original_prices {
	width:600px;
}

#ebay_prices {
	width:500px;
}
ul.tabs {
	margin:10px;
	padding:0px;
}

ul.tabs li {
	display:inline;
	padding:5px;
}

.ebay_gallery {
	max-height:60px;
	display:block;
	color:white;
	margin:auto;
}

ul#hardware_categories, ul#auction_categories {
	padding:0px;
	margin:10px;
	list-style-type:none;
}

div#ebay_prices table {
	margin:auto;
}

#ebay_prices td {
	background:white;
	text-align:right;
}

#ebay_prices th {
	background: white;
	text-transform:uppercase;
	font-weight:normal;
}

span.light {
	color:#555;
	text-transform:italize;
	font-style: italic;
}