body {
	width:900px;
	margin:0 auto;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size:13px;
	background:url(/images/bg.png);
}

a {
	color:blue;
}

#topnav {
	height:30px;
	background:black;
}

#topnav ul {
	margin:0;
	margin-right:20px;
	list-style:none;
	text-align:right;
}

#topnav li {
	display:inline;
	padding:0 10px;
	line-height:25px;
}

#topnav a {
	color:white;
	text-decoration:none;
	font-size:10px;
}

#header {
	height:125px;
	border:1px solid black;
	background:url(/images/header.jpg);
}

#header h1 {
	background:url(/images/wait.png) no-repeat left bottom;
	margin:0;
	padding:0;
	height:90px;
	font-weight:normal;
	text-indent: -9999px;
	width:450px;
}

#header img {
	position:absolute;
	top:-10px;
	left:620px;
}

.flash p {
	line-height:40px;
	text-align:center;
	margin:0px;
}

p.notice {
	background: #afa;
	color:green;
	border:2px solid green;
}

p.error {
	background: #faa;
	color:red;
	border:2px solid red;
}

#navigation {
	
}

#container {
	overflow:auto;
	background:white;
	border:1px solid black;
	border-top:none;
}

#left-column {
	float:left;
	width:170px;
}

#left-column ul {
	margin:20px;
	padding:0px;
	list-style:none;
}

#left-column li {
}

#left-column li a {
	text-decoration:none;
	color:#222;
	display:block;
	padding:5px;
}

#left-column li a:hover {
	color: black;
	text-decoration:underline;
}

#right-column {
	margin-left:170px;
	border-left:1px solid black;
	background:white;
	min-height:700px;
	padding:20px 50px;
}

#footer {
	color:white;
	background:black;
	height:40px;
}

#footer p {
	margin:0px;
	text-align:center;
	line-height:40px;
	font-size:10px;
}

h2, h3, h4 {
	margin:0;
}

table.specifications {
	background:gray;
	margin:auto;
}

.specifications caption {
	text-align:center;
	color:#555;
	line-height:30px;
}

.specifications th {
	text-transform:uppercase;
	font-weight:normal;
	text-align:right;
	padding:5px 15px;
	background:#ddd;
}

.specifications td {
	background:white;
	padding:5px 15px;
}

.specifications a {
	text-decoration:none;
}

.specifications a:hover {
	text-decoration: underline;
}

.wide {
	min-width:435px;
}

div#images {
	text-align:right;
}

#images, #specs, #retail-prices, #values, #price_form {
	margin:20px 0px;
}

#images img {
	border:1px solid silver;
}

.right {
	text-align:right;
}

.center {
	text-align:center;
}

#left-column ul.subnav {
	margin:0;
	padding:0;
}

ul.subnav img{
 	position:absolute;
 	display:none;
	margin-left:100px;
	margin-top:-30px;
	border:none;
}

#left-column li.leftnav {
	height:30px;
}

#left-column li.computers>a {
	height:20px;
}

#left-column li.computers:hover {
	background:url(/images/computersli.png) no-repeat white;
}

#left-column li.computers:hover img{
	display:block;
}

table.list {
	margin:7px;
}
table.list td {
	padding:7px;
}

h2.with_logo {
	overflow:auto;
	line-height:40px;
}

img.manufacturer_logo {
	float:left;
	margin-right:25px;
	font-size:10px;
	color:silver;
}

.breadcrumbs {
	text-transform:uppercase;
	color:#555;
	font-size:10px;
	margin-top:0;
	margin-bottom:30px;
}

.breadcrumbs a {
	text-decoration:none;
}

.breadcrumbs a:hover {
	text-decoration:underline;
}

.specifications caption a img {
	position:relative;
	top:17px;
	border:none;
}

#price_form th, #price_form td {
	text-align:center;
	padding:7px;
}

#message {
	margin-top:20px;
}

#new_user_session table {
	width:500px;
	margin:40px auto;
	border:1px solid gray;
	padding:25px;
	background:#ddd;
}

#new_user_session th {
	text-transform:uppercase;
	font-weight:normal;
	text-align:right;
	padding:10px;
}