%h1 Editing Builtin Storage

- form_for(@builtin_storage, :url => admin_builtin_storage_path(@builtin_storage)) do |f|
  = f.error_messages
  
  %table.record
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Update'

%p= link_to 'Back', admin_builtin_storages_path