%h1 Editing co-CPU

- form_for [:admin, @co_cpu] do |f|
  = f.error_messages
  %table.record
    %tr
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Update'

%p= link_to 'Back', admin_co_cpus_path