%h1 New co-CPU

- form_for [:admin, @co_cpu] do |f|
  = f.error_messages
  %table.record
    =render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'

%p= link_to 'Back', admin_co_cpus_path