- if auction.final_price
  = final_price_string(auction)
- else 
  - if auction.closed?
    = button_to( 'set final price', set_final_price_admin_auction_path(auction), :method => :put)
  - else
    = auction.end_time.to_s(:short)