= render :partial => 'resultset_form'

%h1 Watched Auctions

%table.list{:cellpadding => 0, :cellspacing => 1}
  %tr
    %th Image
    %th Hardware
    %th Title
    %th Site
    %th Conditions
    %th End time/Price
    %th{:colspan => 2} Actions
  = render :partial => @auctions

%p= will_paginate @auctions