- @meta_keywords = "old computers, peripherals"
- @meta_description = "Old Computers peripherals available in our database"
- @title = 'peripherals'

%p.breadcrumbs
  =link_to 'home', root_path
  » peripherals

%h2 Peripherals
%table.list
  - @peripherals.each do |p|
    %tr
      %td.center= image_tag(p.images.first.picture(:thumb)) unless p.images.empty?
      %td= link_to p.full_name, peripheral_path(p)