%h2= @hardware_type.name
- if @hardware_type.hardware.empty?
  %p The category #{@hardware_type.name} currently doesn't include any computer or peripheral.
- else
  %table.hardware_list
    = render :partial => 'computers/hardware', :collection => @hardware_type.hardware

