%h1 Editing Currency

- form_for @currency, :url => admin_currency_path(@currency) do |f|
  = f.error_messages
  %table.record
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Update'

%p= link_to 'Back', admin_currencies_path
