%h1 New Currency

- form_for @currency, :url => admin_currencies_path do |f|
  = f.error_messages
  %table
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'

%p= link_to 'Back', admin_currencies_path
