%h1 Edit Image

- form_for(@image, :url => admin_imageable_image_path(@imageable, @image)) do |f|
  = f.error_messages
  %table
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Update'

%p= link_to 'Back', admin_imageable_images_path(@imageable)