%h1 Editing IO Port
- form_for(@io_port, :url => admin_io_port_path(@io_port)) do |f|
  = f.error_messages
  %table
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Update'

%p= link_to 'Back', admin_io_ports_path