%h1 New IO Port

- form_for [:admin, @io_port] do |f|
  = f.error_messages
  %table.record
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'

%p= link_to 'Back', admin_io_ports_path