%h1 Listing Builtin Languages

%table.list{:cellpadding => 0, :cellspacing => 1}
  %tr
    %th Name
    %th Actions
  - @builtin_languages.each do |language|
    %tr
      %td= h language.name
      %td= link_to 'destroy', admin_builtin_language_path(language.permalink), :method => :delete, :confirm => 'are you sure?'          

%p= will_paginate @builtin_languages
%p= link_to 'New builtin language', new_admin_builtin_language_path