- @title = 'manufacturers list'
%h2 Manufacturers
%table.list
  - @manufacturers.each do |manufacturer|
    %tr
      %td.center= logo_image manufacturer, :height => '30'
      %td= link_to manufacturer.name, manufacturer_path(manufacturer)