- @title = @builtin_language.name

%h2= @title
- if @builtin_language.hardware.empty?
  %p
    The language
    %strong= @builtin_language.name
    is not used by any computer in the database.
- else
  %table.list
    = render :partial => 'computers/hardware', :collection => @builtin_language.hardware
    